
# Temporales de Office y archivos basura
~
~WRL*.tmp
*.tmp
*.lock
Thumbs.db
.DS_Store

# Archivos y carpetas que no deben versionarse
.vs/
bin/
obj/
Debug/
*.user
*.suo
*.db
*.cache
*.log
*.vscode/

